{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MundialScope{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="site-header">
        <div class="container">
            <div class="brand">MundialScope</div>
            <nav class="main-nav">
                <a href="/">Inicio</a>
                <a href="{% url 'teams:team-compare' %}">Comparar selecciones</a>
                <a href="{% url 'matches:tactical-dashboard' %}">Dashboard táctico</a>
                <a href="{% url 'players:player-list' %}">Jugadores</a>
                <a href="{% url 'players:player-compare' %}">Comparar jugadores</a>
                <a href="{% url 'players:player-rankings' %}">Rankings</a>
                <a href="/admin/">Admin</a>
                <a href="/api/matches/dashboard/overview/">API Dashboard</a>
                
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>
    {% block extra_js %}{% endblock %}
</body>
</html>